@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap');

:root {
    --primary-color: #081336;
    --secondary-color:#1D5BBB;
    --tertiary-color: #59B9FA;
    --quarter-color: radial-gradient(180deg, #0066A1 46.03%, #74CFFF 100%);

    --text-color: #D9D8FF;
    --card-bg: #17202F;

  }


* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
  
.scrollTopBtn {
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    position: fixed;
    z-index: 92;
    cursor: pointer;
    display: none;
}

body {
    background: var(--primary-color);
}

body::-webkit-scrollbar {
    width: 5px;          /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}


.container {
    max-width: 1240px;
    margin: 0 auto;
}


.menu  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 80px;
    position: relative;
}

.logo {
    
}

.menu ul {
    display: flex;
}

.menu li {
    list-style: none;
    padding: 20px;
    font-weight: 400;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 2s;
}
li a{
    text-decoration: none;
    color: white;
    transition: 2s;
}

.menu li:hover,
li a:hover {
    color: var(--tertiary-color);
    letter-spacing: 5px;
    font-size: 1rem;
}



.banner {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}


h1 {
    max-width: 700px;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

p {
    font-weight: 400;
    margin-top: 14px;
    color: var(--text-color);
    position: relative;
}

.image img,
.image_sobre {
    max-width: 500px;
    height: 500px;
    position: relative;
}

.circle {
    position: absolute;
    max-width: 1000px;
    height: 1000px;
    top: 3rem;
    right: 1rem;
    background-color: transparent;
    opacity: 0.3;
}

.circle_form{
    position: absolute;
    max-width: 700px;
    height: 700px;
    top: 360rem;
    left: 1rem;
    opacity: 0.3;

}

.buttonsArea {
    display: flex;
    margin-top: 24px;
}

.buttonsArea_Project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding: auto;
}

.primaty_btn {
    width: 340px;
    height: 47px;
    background: radial-gradient(50% 50% at 50% 50%, #118ECD 0%, #3165C7 100%);
    border: none;
    color: white;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
}

.view_project_btn {
    max-width: 250px;
    
}

.secundary_btn {
    width: 160px;
    height: 47px;
    border: 2px solid var(--secondary-color);
    background-color: #151F40;
    color: var(--secondary-color);
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}


.view_github_btn,
.view_project_btn {
    height: 37px;
    font-size: 16px;
    font-weight: 400;
    margin: 20px;
}
.primaty_btn img,
.secundary_btn img {
    width: 36px;
    height: 36px;
    margin-left: 5px;
    
}

.home_shape {
    background: var(--secondary-color);
    position: absolute;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    filter: blur(130px);
}

.about_shape {
    background: var(--tertiary-color);
    position: absolute;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    filter: blur(200px);
    top: 50rem;
    right: 1rem;
}

.top_banner {
    animation-name: shape;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.md_banner {
    background: var(--secondary-color);
    top: 5rem;
    left: -10rem;
}

.arrow {
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: arrow 5s ease-in-out infinite;
}

.arrow i {
    color: white;
}


#about {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.titleAbout,
.footer_div {
    display: flex;
    color: white;
}

.titleAbout div{
    height: 43px;
    width: 8px;
    color: #0066A1;
    background: linear-gradient(180deg, #0066A1 46.03%, #74CFFF 100%);

}

.footer_div div {
    height: 18px;
    width: 4px;
    background: linear-gradient(180deg, #0066A1 46.03%, #74CFFF 100%);
    margin-right: 10px;
}

.infoMe{
    max-width: 560px;
    position: relative;
}

.infoMe h2 {
    margin-left: 10px;
    font-size: 36px;

} 


.infoMe .topics {
    display: flex;
    margin-top: 20px;
}

.topic {
    font-weight: 600;
    flex: 1;
}

.infoMe p {
    line-height: 1.5
}


#projects {
    margin: 150px auto ;
    color: white;
}
.titleProjects {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.titleProjects div{
    height: 6px;
    width: 83px;
    background: var(--tertiary-color);

}

.titleProjects h2,
.form_title {
    font-size: 36px;
    color: white;
}


.projects_shape {
    background: var(--secondary-color);
    position: absolute;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    filter: blur(200px);
    top: 120rem;
    left: 1rem;
}


.projects_shape_bottom {
    background: var(--secondary-color);
    position: absolute;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    filter: blur(200px);
    top: 230rem;
    right: 1rem;
}

.form_shape {
    background: #59B9FA;
    position: absolute;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    filter: blur(200px);
    top: 319rem;
    right: 1rem;
    opacity: 0.5;
}

.projects_all,
.certificate_all {
    margin-top: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
}

.certificate_all {
    grid-template-columns: auto auto auto;
    margin-bottom: 140px;
}

.project {
    width: 600px;
    height: 900px;
    background-color: var(--card-bg);
    margin: 20px;
    border-radius: 5px;
    border-bottom: 5px solid var(--secondary-color); 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.project h3{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 23px;
}

.project img {
    margin: 0 auto;
    display: flex;
    width: 500px;
}

.project p {
    margin-top: 33px;
    font-size: 15px;
    max-width: 500px;
}

.line_div_project {
    margin-top: 31px;
    width: 90%;
    height: 1px;
    background-color: var(--secondary-color);
}

.project h4 {
    margin-top: 21px;
    font-size: 14px;
    font-weight: 600;
}

.tec_using {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 100%;
    justify-content: space-around;
}

.tec_using span {
    margin-top: 14px;
}

.btn_more {
    display: flex;
}

.btn_more_projects {
    color: white;
    margin: 90px auto ;
    width: 371px;
    height: 47px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
    transition: 2s;
}

.btn_more_projects:hover {
    background-color: #151F40;
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
}

.btn_more_projects a {
    color: #17202F;
}

.btn_more_projects a:hover {
    color: var(--tertiary-color);
}

#skills {
    margin: 20px 0;
    text-align: center;
}

.slide_title {
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 376px;
    overflow: hidden;
    transition: all 0.4s;
}

.slides {
    max-width: 1000px;
    display: flex;
    gap: 60px;
    text-align: center;
}


.images img {
    width: 100px;
}

.images span {
    color: white;
}
#fisrt_img {
    transition: all 2s;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    position: absolute;
    color: white;
    opacity: 0.5;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 2.7em;
    margin-top: 27px;
}

.btn:hover {
    opacity: none;
    color: var(--text-color);
}


#back {
    left: 10%;
}

#next {
    right: 10%;
}



.img_certificate {
    width: 100%;
    padding: 8px;
    background-color: var(--secondary-color);
    
}

.area_title_certificate{
    margin-top: -10px;
    height: 80px;
    background-color: var(--card-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 8px ;
}

.certificate_area {
    margin-top: 40px;
}

#certificate {
    position: relative;
    z-index: 99;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#form p {
    text-align: center;
}

.form_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;
    
}

.form_contact input {
    display: flex;
    width: 750px;
    height: 50px;
    
}

.form_contact input,
.form_contact textarea {
    padding: 15px 40px;
    border-radius: 5px;
    border: 1px solid #8182B0;
    background-color: #192241;
    color: #585A69;
    
}


input::placeholder,
textarea::placeholder{
    color: #585A69;
    font-size: 14px;
}

.btn_submit {
    display: flex;
    justify-content: end;
    align-items: flex-end;
} 

.teste {
    display: flex;
    justify-content: end;
}

.btn_submit {
    width: 370px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 2s;
}

.btn_submit:hover {
    background-color: transparent;
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
}

footer{
    max-width: 100vw;
    margin-top: 150px;
    background-color: rgba(23, 32, 47, 0.6);
    height: 300px;
}

.description_footer {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    font-size: 14px ;
    font-weight: 400;
    line-height: 26px;
    position: relative;
}

.logos_footer {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation_menu {
    margin-top: 100px;
}

.titleAbout {
    font: 18px;
    font-weight: 700;
    color: white;
}

.negation ul{
    font-size: 14px;
    font-weight: 400;
    color: white;
    list-style: none;
    
}

.negation ul li {
    margin-top: 10px;
}


.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px;
    z-index: 99;
}

.menuDesktop{
    display: flex;
}
 
.menuMobile ul {
    opacity: 0;
    transition: 1s;
    background: linear-gradient(180deg, #0066A1 46.03%, #74CFFF 100%);
    border-radius: 8px;
    width: 250px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 1;
}

.showMenu {
    opacity: 1 !important;
}
.mm_line {
    left: 100px;
    height: 4px;
    background-color: var(--tertiary-color);
    border-radius: 8px;
    display: flex;
    transition: 0.3s ease;
    z-index: 99;
    background-color: #0066A1;
}

#line1 {
    transform: translateY(-4px);
}
#line3 {
    transform: translateY(4px);
}


























  /* Animations*/

  @keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}


  @keyframes shape {
    0% {
        
    top: -5rem;
    left: -5rem;
    }
    50% {
        
    top: 1rem;
    left: 1rem;
    }
    100% {
        
    top: -5rem;
    left: -5rem;
    }
}


@media screen and (max-width: 1050px) {
    .image img{
        width: 400px;
        height: 400px;
    }

    .tittle {
        padding: 20px;
    }

    .project {
        width: 400px;
    }

    .project img {
        width: 300px;
    }
    
    .buttonsArea_Project {
        display: flex;
        flex-direction: column;
    }

    .project p {
        max-width: 300px;
    }

    .view_github_btn {
        width: 250px; 
    }

    .flex {
        margin: 20px;
    }

    .menuMobile  {
        display: block;

    }

    .menuMobile ul {
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        
        transform: translate(0%, 0%);
    }

    .menuDesktop {
        display: none;
    }
    

    .menu ul .nav {
        padding: 0;
        margin: 0 20px;
        transition: 0.3s ease;
        display: none;
    }

    .menu-bg, #menuMobile {
        top: 0;
        right: 0;
        position: absolute;
    }

    
    #menuMobile{
        z-index: 2;
    }

    .change-bg{
        width: 550px;
        height: 540px;
        transform: translate(0%, -30%);
    }

    .change .mm_line {
        background-color: var(--text-color);
    }

    .change #line1 {
        transform: translate(4px) rotateZ(-45deg);
        top: 8px;
    }

    .change #line3 {
        opacity: 0;
    }
    

    .change #line2 {
        transform: translate(4px) rotateZ(45deg);
        top: 8px;
    }

    .change {
        display: block;
    }
}

@media (max-width: 930px) {
    
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 30px;
        max-width: 100%;
    }
    .menu {
        padding: 20px;
    }

    .menuMobile {
        margin: 20px;
    }
    .meText {
        max-width: 300px;
    }
    .projects_all,
    .certificate_all {
        grid-template-columns: auto;
    }

    #form {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form_title {
        font-size: 26px;
    }
    .form_contact {
        max-width: 96%;
    }

    #form p {
        max-width: 100%;
    }

    .form_contact input,
    .form_contact textarea{
        max-width: 100%;
    }

    

    #about {
        display: flex;
        flex-direction: column-reverse;
        padding: 10px;
        align-items: center;
    }

    .img_sobre {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }


    .projects_all {
        z-index: 99;
        max-width: 80%;
        margin: auto;
    }

    .project {
        max-width: 350px;
        padding: 20px;
    }

    
    .buttonsArea {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 10px;
        align-items: center;
    }
    .secundary_btn {
        margin-top: 100px;
        width: 340px;
        margin: 0;
    }

    .primaty_btn {
        margin-bottom: 15px;
    }

    .view_github_btn {
        width: 250px;
        margin-top: 100px;
        margin: 0;
    }

    .circle_form{
        display: none;
    }
    .btn_submit {
        width: 60%;
    }

    .home_shape {
        z-index: -99;
    }

    .btn_more_projects {
        width: 350px;
    }


    .flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        height: 600px;
    }

    #skills {
        display: none;
    }

}